/*webkit-sassui-animate-fade Start*/
@keyframes webkit-sassui-animate-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes webkit-sassui-animate-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.webkit-sassui-animate-fade.visible-true, .webkit-sassui-animate-fade[data-visible=true] {
  animation: webkit-sassui-animate-fade-in 300ms ease-in forwards;
}

.webkit-sassui-animate-fade.visible-false, .webkit-sassui-animate-fade[data-visible=false] {
  animation: webkit-sassui-animate-fade-out 300ms ease-in forwards;
}

/*webkit-sassui-animate-fade End*/
body {
  padding: 30px;
}

.test-webkit-sassui-animate-fade {
  border: 1px dashed #ccc;
  padding: 14px;
  background: #f8f8f8;
}

.test-webkit-sassui-animate-fade h1 {
  font-size: 18px;
  border-left: 3px solid #ccc;
  padding-left: 10px;
}

.test-webkit-sassui-animate-fade p {
  color: #999;
}

.test-webkit-sassui-animate-fade img {
  vertical-align: middle;
}

button {
  border: none;
  background: none;
  border-radius: 4px;
  width: 100%;
  padding: 20px;
  background: #007aff;
  color: #fff;
  margin-bottom: 20px;
  transition: all 0.3s;
}

button:focus {
  outline: none;
}

button:active {
  background: #0062cc;
}
