/*webkit-sassui-animate-fade Start*/
$webkit-sassui-animate-fade-options:(
  duration: 300ms,
  opacity:(0,1)
)!default;

.webkit-sassui-animate-fade{
  $duration: map-get($map: $webkit-sassui-animate-fade-options, $key: duration);
  $opacity: map-get($map: $webkit-sassui-animate-fade-options, $key: opacity);
  $opacity-start: nth($opacity,1);
  $opacity-end: nth($opacity,2);

  @keyframes webkit-sassui-animate-fade-in {
    from {
      opacity: $opacity-start;
    }
    to {
      opacity: $opacity-end;
    }
  }

  @keyframes webkit-sassui-animate-fade-out {
    from {
      opacity: $opacity-end;
    }
    to {
      opacity: $opacity-start;
    }
  }

  &.visible-true,
  &[data-visible=true] {
    animation: webkit-sassui-animate-fade-in $duration ease-in forwards;
  }

  &,
  &.visible-false,
  &[data-visible=false] {
    animation: webkit-sassui-animate-fade-out $duration ease-in forwards;
  }
}
/*webkit-sassui-animate-fade End*/
